/* **************************** Common codes start here ********************* */
@font-face {
    font-family: Muli;
    src: url(../muli/Muli-Regular.ttf);
}
@font-face {
    font-family: light-muli;
    src: url(../muli/Muli-Light.ttf);
}
:root{
    --primary-color:#ff2832;
    --border-color:#ffebec;
    --white-color:#ffffff;
}
body{
    background-color: #ffffff;
    font-family:Muli;
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/* section title for all section start */
.section-title h3{
    text-transform: uppercase;
    font-size: 1.8rem;
    color:var(--white-color);
    padding:0.6rem 2rem;
    margin-bottom:0;
}
/* section title for all section end */

/* items style start */
.section-items{
    border:1px solid #cccccc;
    border-top:0;
    margin-bottom:20px;
}

.single-item{
    width:20%;
    padding:2rem 0 2rem 1rem;
    display: flex;
    flex-direction: column;
    position:relative;
    background:#ffffff;
    transition: 1.5s;
 }
.item-hover-div{
    position:absolute;
    top:23%;
    right:-27%;
    visibility:hidden;
} 
.single-item:hover .item-hover-div{
     visibility:visible; 
     top:50%;
     transition: 1.5s; 
    }
.single-item img{
    width:100px;
    height:100px;
    margin-bottom:10px;
}
.single-item p{
    font-size:16px;
    font-weight: 700;
    width:80%;
}
.single-item ul{
    margin-left:-32px;
}
.single-item ul li{
    list-style-type: none;
    float:left;
    margin-right:5px;
}
.list-number{
    color:#999999;
}
.fa-star{
    color:#ffcc33;
}
.single-item .item-lower-p{
    display:block;
    width:100%;
    font-weight: 700;
    color:var(--primary-color);
    position:relative;
}
.item-lower-span{
    color:#999999;
    margin-left:10px;
    text-decoration: line-through;
}
.item-search,.item-cart{
    color:#999999;
    padding:none;
    background:none;
}
.item-hover-div{
    transform: rotate(90deg);
}
.item-hover-div ul li{
    list-style-type: none;
    border:1px solid #999999;
    width:40px;
}
.item-hover-icon{
    color:#999999;
    padding:10px;
}
/* items style end */

/* tab style start */
section .tabs-nav{
    border:1px solid #cccccc;
    border-bottom: none;
}
section .my-tab-item{
    
    border-bottom:1px solid #cccccc;
}
section .nav-tabs .nav-link{
    border:none;
    color:#000;
    font-weight: 700;
    font-size:20px;
}
section .tabs-nav .tab-nav-link{
    border:1px solid #cccccc;
    border-top:none;
}
section .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    border:none;
    color:#000;
}
/* tab style end */
/* **************************** Common codes end here ********************* */

/* **************************** Header start here ********************* */

/* header top start */
.header-top{
    min-height: 60px;
    min-width:100%;
    background-color:var(--primary-color);
    position:relative;
    padding:20px 0;
}
.header-top:before{
    position:absolute;
    height:100%;
    width:100%;
    background-image: url(../images/header-top-bg_01.png);
    content: "";
    top:0;
    left:0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.header-top img{
    width:80px;
}
.t-img-2{
    padding-left: 2%;
}
.t-img-3{
    padding-left:5%;
}
.t-img-4{
    padding-left:4%;
}
.t-img-5{
    padding-left:6%;
}
.t-img-6{
    padding-left:7%;
}
/* header top end */

/* hotline number div start here */
.hotline-number{
    background-color: var(--border-color);
    padding:5px 0 ;
    height:35px;
    color: #585858;
}
.hotline-number p{
    font-size:1.2rem;
}
.hotline-text{
    border-right:1px solid #dddddd;
}
.hotline-text a{
    color: #585858;
    text-decoration: none;
}
.fa-mobile-alt{
    color:var(--primary-color);
    margin-right: 5px;
}
/* hotline number div end here */

/* login area start */
.login-area{
    padding:2% 0; 
    box-sizing: border-box;
}
.logo-img{
    width:180px;
}
/* search area start*/
.search-form{
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px solid var(--primary-color);
    margin: 0;
    padding: 0;
}
#search-box{
    margin-right: 5px;
    width:60%;
    border:none;
    padding:10px;
    font-size: 18px;
    color:#b9b8bf;
}
#search-box:focus{
    outline:none;
}
#search-select{
    margin-right: 5px;
    width:25%;
    border:none;
    border-left:1px solid var(--border-color);
    padding:10px 5px;
    font-size: 18px;
    color:#b9b8bf;
}
#search-select:focus{
    outline:none;
}
.search-box-icon{
    width:15%;
    color:var(--white-color);
    background-color: var(--primary-color);
    padding:16px 35px;
}
/* search area end */
.login-cart{
    padding-left: 30px;
    border-right:1px solid var(--border-color);
}
.login-cart p{
    margin:0;
    font-size: 1.2rem;
    color:#111111;
}
.cart-para-1{
    color:#b9b8bf !important;
}
.login-cart .fa-shopping-cart,.zero{
    color:var(--primary-color);
}
.log-in-btn{
    margin-left: 10px;
    background: var(--primary-color);
    border:none;
    font-size: 1.2rem;
    font-weight: bold;
}
.fa-user{
    margin-right: 10px;
}
/* login area end */

/* navbar area start */
.menu-bar{
    background-color: #1f2a4f;
}
.navbar-light .navbar-nav .nav-link {
    color: var(--white-color);
    font-size: 1.2rem;
    text-transform: uppercase;
    word-spacing: 3px;
    border-right:1px solid #37446c;
    padding:0 1.5rem;
}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: var(--white-color);
}
/* navbar area end */

/* slider area start */
.slider-item{
    background-color: var(--primary-color);
    margin: 20px 0;
    padding:0 5rem 0 5rem;
    display: flex;
}
.slider-img{
    padding-top:6.5rem;
}
.slider-item img{
    height:500px;
    width:100%;
}
.slider-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height:600px;
}
.slider-item h1{
    font-size: 2.6rem;
    color:var(--white-color);
    text-transform: uppercase;
    font-weight: 400;
}
.slider-item .head-span{
    font-weight: 900;
}
.slider-item p{
    color:var(--white-color);
    font-size:1.4rem;
    padding-right: 5rem;
}
.slider-item .slide-btn{
    border:none;
    border-radius:0px;
    background-color: var(--white-color);
    color: var(--primary-color);
    font-size: 1.2rem;
    font-weight: 700;
    width:150px;
    margin-top: 40px;
}
/* slider area end */

/* **************************** Header end here ********************* */

/* **************************** main start here ********************* */

/* top n best brand section strat */
#top-n-best-brand-card{
    margin-bottom:20px;
}
.orange-card{
    background-image: url(../images/orange-slide-img_03.png);
    background-repeat: no-repeat ;
    background-size: cover;
    background-position: center;
    text-align: center;
    padding:5.5rem;
    position:relative;
}
.orange-card:before{
    position:absolute;
    top:0;
    left:0;
    content:"";
    background-color: var(--primary-color);
    opacity:0.5;
    width:0;
    height:100%;
    visibility:hidden;
    transition: 1s;
}
.orange-card:hover::before{
    visibility: visible;
    width:100%;
    transition: 1s;
}
#top-n-best-brand-card h2{
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
    color:var(--white-color);
    margin-bottom: 15px;
}
#top-n-best-brand-card p{
    font-size: 18px;
    color:var(--white-color);
}
.blue-card{
    background-image: url(../images/blue-slide-img_03.png);
    background-repeat: no-repeat ;
    background-size: cover;
    background-position: center;
    text-align: center;
    padding:6.6rem 5rem;
    position:relative;
}
.blue-card:before{
    position:absolute;
    top:0;
    left:0;
    content:"";
    background-color:#333366;
    opacity:0.5;
    width:0;
    height:100%;
    visibility:hidden;
    transition: 1s;
}
.blue-card:hover::before{
    visibility: visible;
    width:100%;
    transition: 1s;
}
/* top n best brand section end */

/* hot deals section start */
#hot-deal-section .section-title{
    background:var(--primary-color);
}
/* hot deals section end */

/* digital n electronics section start */
#digital-n-electronics-section .section-title{
    background-color: #9966cc;
}
.digital-n-elec-img-area{
    background-image: url(../images/digitalnelectronics-area-img_03.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding:5rem 3rem;
    margin-bottom: 10px;
}
.dig-elec-para{
    color:var(--primary-color);
    font-size:2rem;
    font-weight: 700;
    margin-bottom: 4px;
}
.makes-para{
    font-size:2rem;
    font-weight: 700;
}
.life-easy-para{
    color:#666666;
}
.washing-para{
    margin:10px 0;
    font-size: 2.3rem;
    color:#000;
}
.machine-para{
    font-weight: bolder;
}
.eco-para{
    color:#9966cc;
}
.washing-spin-text{
    font-size: 1.5rem;
    color:#666666;
}
/* digital n electronics section end */

/* fasion & accessories  section start*/
#fashion-n-accessories-area .section-title{
    background-color: #ff9933;
}
.fashion-n-accessories-img-area{
    background-image: url(../images/fashion-n-assoceries-img_03.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding:5rem 3rem;
    margin-bottom: 10px;
}
.fashion-n-accessories-img-area .fashion-para-one{
    font-size:35px;
    margin-bottom:5px;
    color: #ff9933;
}
.fashion-n-accessories-img-area .fashion-para-two{
    font-size: 30px;
    color:#000;
}
.fashion-n-accessories-img-area .img-area-btn{
    margin-top: 20px;
    font-size: 1.3rem;
    font-weight: 700;
    background-color: #ff9933;
    border:1px solid #ff9933;
}
/* fashion & accessories  section end*/
/* **************************** main start here ********************* */