/* **************************** Common codes start here ********************* */
/* for all body */
@font-face {
    font-family: Muli;
    src: url(../muli/Muli-Regular.ttf);
}
@font-face {
    font-family: light-muli;
    src: url(../muli/Muli-Light.ttf);
}
:root{
    --primary-color:#ff2832;
    --border-color:#ffebec;
    --white-color:#ffffff;
}
body{
    background-color: #ffffff;
    font-family:Muli;
    margin:0;
    padding:0;
    box-sizing: border-box;
    overflow-x: hidden;
}
/* for all body */
/* **********************************************************************************
*******************************HOME PAGE DESIGN START*****************************
********************************************************************************** */
/* section title for all section start */
.section-title h3{
    text-transform: uppercase;
    font-size: 1.8rem;
    color:var(--white-color);
    padding:0.6rem 2rem;
    margin-bottom:0;
}
/* section title for all section end */

/* items style start */
.section-items{
    border:1px solid #cccccc;
    border-top:0;
    margin-bottom:20px;
}
.single-item{
    width:20%;
    padding:2rem 0 2rem 1rem;
    display: flex;
    flex-direction: column;
    position:relative;
    background:#ffffff;
    transition: 1.5s;
 }
.item-hover-div{
    position:absolute;
    top:23%;
    right:-27%;
    visibility:hidden;
} 
.single-item:hover .item-hover-div{
     visibility:visible; 
     top:50%;
     transition: 1.5s; 
    }
.single-item img{
    width:100px;
    height:100px;
    margin-bottom:10px;
}
.single-item p{
    font-size:16px;
    font-weight: 700;
    width:80%;
}
.single-item ul{
    margin-left:-32px;
}
.single-item ul li{
    list-style-type: none;
    float:left;
    margin-right:5px;
}
.list-number{
    color:#999999;
}
.fa-star{
    color:#ffcc33;
}
.single-item .item-lower-p{
    display:block;
    width:100%;
    font-weight: 700;
    color:var(--primary-color);
    position:relative;
}
.item-lower-span{
    color:#999999;
    margin-left:10px;
    text-decoration: line-through;
}
.item-search,.item-cart{
    color:#999999;
    padding:none;
    background:none;
}
.item-hover-div{
    transform: rotate(90deg);
}
.item-hover-div ul li{
    list-style-type: none;
    border:1px solid #999999;
    width:40px;
}
.item-hover-icon{
    color:#999999;
    padding:10px;
}
/* items style end */

/* tab style start */
.tab-section .nav-tabs{
    border-bottom: none;
    border-top: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
}
.tab-section .nav-tabs .nav-item{
    border:1px solid #cccccc;
}
.tab-section .nav-tabs .nav-item .nav-link{
    font-size: 20px;
    font-weight: 700;
    color:#000;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    border:1px solid transparent;
}
/* tab style end */
/* **************************** Common codes end here ********************* */

/* **************************** Header start here ********************* */

/* header top start */
.header-top{
    min-height: 60px;
    min-width:100%;
    background-color:var(--primary-color);
    position:relative;
    padding:20px 0;
}
.header-top img{
    width:100px;
}
/* header top end */

/* hotline number div start here */
.hotline-number{
    background-color: var(--border-color);
    padding:5px 0 ;
    height:35px;
    color: #585858;
}
.hotline-number p{
    font-size:1.2rem;
}
.hotline-text{
    border-right:1px solid #dddddd;
}
.hotline-text a{
    color: #585858;
    text-decoration: none;
}
.fa-mobile-alt{
    color:var(--primary-color);
    margin-right: 5px;
}
/* hotline number div end here */

/* login area start */
.login-area{
    padding:2% 0; 
    box-sizing: border-box;
}
.logo-img{
    width:180px;
}
/* search area start*/
.search-form{
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px solid var(--primary-color);
    margin: 0;
    padding: 0;
}
#search-box{
    margin-right: 5px;
    width:60%;
    border:none;
    padding:10px;
    font-size: 18px;
    color:#b9b8bf;
}
#search-box:focus{
    outline:none;
}
#search-select{
    margin-right: 5px;
    width:25%;
    border:none;
    border-left:1px solid var(--border-color);
    padding:10px 5px;
    font-size: 18px;
    color:#b9b8bf;
}
#search-select:focus{
    outline:none;
}
.search-box-icon{
    width:15%;
    color:var(--white-color);
    background-color: var(--primary-color);
    padding:16px 35px;
}
.search-box-icon:hover{
    cursor:pointer;
}
/* search area end */
.login-cart{
    padding-left: 30px;
    border-right:1px solid var(--border-color);
}
.login-cart p{
    margin:0;
    font-size: 1.2rem;
    color:#111111;
}
.cart-para-1{
    color:#b9b8bf !important;
}
.login-cart .fa-shopping-cart,.zero{
    color:var(--primary-color);
}
.log-in-btn{
    margin-left: 10px;
    background: var(--primary-color);
    border:none;
    font-size: 1.2rem;
    font-weight: bold;
    transition: 1s;
}
.fa-user{
    margin-right: 10px;
}
.log-in-btn:hover{
    background: #fff;
    border:1px solid var(--primary-color);
    color:var(--primary-color);
    transition: 1s;
}
/* login area end */

/* navbar area start */
.menu-bar{
    background-color: #1f2a4f;
}
.navbar-light .navbar-nav .nav-link {
    color: var(--white-color);
    font-size: 1.1rem;
    text-transform: uppercase;
    word-spacing: 3px;
    border-right:1px solid #37446c;
    padding:0 1.5rem;
    font-weight: 700;
    transition: 1s;
}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: var(--white-color);
    transition: 1s;
}
.navbar-light .navbar-nav .nav-link:hover, .dropdown-item:hover{
    color:var(--primary-color);
    background-color: transparent;
    transition: 1s;
}
.dropdown-item{
    font-size: 1.2rem;
    text-align: center;
    font-weight: 700;
    padding:10px 0;
    transition: 1s;
}
.dropdown-menu{
    width:200px;
    border: none;
}
.dropdown-toggle::after {
    display: none;
}
.dropdown:hover > .dropdown-menu{
    display:block;
}
.inner-dropdown-menu{
    position:absolute;
    top:0;
    left:100%;
}
/* navbar area end */

/* slider area start */
.slider-item{
    background-color: var(--primary-color);
    margin: 20px 0;
    padding:0 5rem 0 5rem;
    display: flex;
}
.slider-img{
    padding-top:6.5rem;
}
.slider-item img{
    height:500px;
    width:100%;
}
.slider-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height:600px;
}
.slider-item h1{
    font-size: 2.6rem;
    color:var(--white-color);
    text-transform: uppercase;
    font-weight: 400;
}
.slider-item .head-span{
    font-weight: 900;
}
.slider-item p{
    color:var(--white-color);
    font-size:1.4rem;
    padding-right: 5rem;
}
.slider-item .slide-btn{
    border:none;
    border-radius:0px;
    background-color: var(--white-color);
    color: var(--primary-color);
    font-size: 1.2rem;
    font-weight: 700;
    width:150px;
    margin-top: 40px;
}
/* slider area end */

/* **************************** Header end here ********************* */

/* **************************** main start here ********************* */

/* top n best brand section strat */
#top-n-best-brand-card{
    margin-bottom:20px;
}
.orange-card{
    background-image: url(../images/orange-slide-img_03.png);
    background-repeat: no-repeat ;
    background-size: cover;
    background-position: center;
    text-align: center;
    position:relative;
    z-index: 11;
}
.card-content{
    width: 100%;
    height:100%;
    background-color: transparent;
    padding:5.5rem;
}
.orange-card:before{
    position:absolute;
    top:0;
    left:0;
    content:"";
    background-color: var(--primary-color);
    opacity:0.5;
    width:0;
    height:100%;
    visibility:hidden;
    transition: 1s;
    z-index: -1;
}
.orange-card:hover::before{
    visibility: visible;
    width:100%;
    transition: 1s;
}
.orange-card:hover .card-content{
    z-index: 10;
}
#top-n-best-brand-card .card-content h2{
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
    color:var(--white-color);
    margin-bottom: 15px;
    
}
#top-n-best-brand-card .card-content p{
    font-size: 18px;
    color:var(--white-color);
    
}
.blue-card{
    background-image: url(../images/blue-slide-img_03.png);
    background-repeat: no-repeat ;
    background-size: cover;
    background-position: center;
    text-align: center;
    padding:1rem;
    position:relative;
    z-index: 11;
}
.blue-card:before{
    position:absolute;
    top:0;
    left:0;
    content:"";
    background-color:#333366;
    opacity:0.5;
    width:0;
    height:100%;
    visibility:hidden;
    transition: 1s;
    z-index: -1;
}
.blue-card:hover::before{
    visibility: visible;
    width:100%;
    transition: 1s;
}
/* top n best brand section end */

/* hot deals section start */
#hot-deal-section .section-title{
    background:var(--primary-color);
}
/* hot deals section end */

/* digital n electronics section start */
#digital-n-electronics-section .section-title{
    background-color: #9966cc;
}
.digital-n-elec-img-area{
    background-image: url(../images/digitalnelectronics-area-img_03.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding:5rem 3rem;
    margin-bottom: 10px;
}
.dig-elec-para{
    color:var(--primary-color);
    font-size:2rem;
    font-weight: 700;
    margin-bottom: 4px;
}
.makes-para{
    font-size:2rem;
    font-weight: 700;
}
.life-easy-para{
    color:#666666;
}
.washing-para{
    margin:10px 0;
    font-size: 2.3rem;
    color:#000;
}
.machine-para{
    font-weight: bolder;
}
.eco-para{
    color:#9966cc;
}
.washing-spin-text{
    font-size: 1.5rem;
    color:#666666;
}
/* digital n electronics section end */

/* fasion & accessories  section start*/
#fashion-n-accessories-area .section-title{
    background-color: #ff9933;
}
.fashion-n-accessories-img-area{
    background-image: url(../images/fashion-n-assoceries-img_03.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding:5rem 3rem;
    margin-bottom: 10px;
}
.fashion-n-accessories-img-area .fashion-para-one{
    font-size:40px;
    margin-bottom:5px;
    color: #ff9933;
}
.fashion-n-accessories-img-area .fashion-para-two{
    font-size: 35px;
    color:#000;
}
.fashion-n-accessories-img-area .img-area-btn{
    margin-top: 20px;
    font-size: 1.3rem;
    font-weight: 700;
    background-color: #ff9933;
    border:1px solid #ff9933;
}
/* fashion & accessories  section end*/

/* furnitures & home decores section start */
#furniture-n-home-decore-area .section-title{
    background-color: #33cccc;
}
.furniture-n-home-decore-img-area{
    background-image: url(../images/furniture-decore-img_03.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding:5rem 3rem;
    margin-bottom: 10px;
    padding-left:65%;
}
.furniture-n-home-decore-img-area p{
    margin-bottom: 5px;
}
.furniture-n-home-decore-img-area .available-text{
    font-size:35px;
    color: #33cccc;
    font-weight: 700;
}
.furniture-n-home-decore-img-area .stock-limited-text{
    font-size:35px;
    color:#000;
}
.furniture-n-home-decore-img-area .buy-now{
    color:#666666;
}
.furniture-n-home-decore-img-area .starting{
    font-size: 25px;
    font-weight: 700;
}
.furniture-n-home-decore-img-area .price{
    font-size: 30px;
    color:var(--primary-color);
}
.furniture-n-home-decore-img-area .shop-now-btn{
    margin-top: 15px;
    font-size: 25px;
    background-color: #33cccc;
    border: 1px solid #33cccc;
}
 /* furnitures & home decores section end */ 

 /* tools & equipments section start */
#toola-n-equipments-area .section-title{
    background-color: #ff6633;
}
.tools-n-equipments-img-area{
    background-image: url(../images/tools-equipments-img_03.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding:5rem 3rem;
    margin-bottom: 10px;
}
.tools-n-equipments-img-area p{
    margin-bottom:5px;
}
.tools-n-equipments-img-area .use-update-text{
    font-size:30px;
    font-weight:700;
    color:#ff6633;
}
.tools-n-equipments-img-area .life-easy-text{
    font-size: 30px;
    color:#666666;
}
.tools-n-equipments-img-area .makes-your-text{
    font-weight: 700;
    color:#000;
}
.tools-n-equipments-img-area .treecutter-text{
    font-size: 35px;
    color:#000;
}
.tools-n-equipments-img-area .eco-text{
    color:#ff6633;
}
.tools-n-equipments-img-area .weight-text{
    font-size: 20px;
    color:#666666;
}
 /* tools & equipments section end */

 /* security section start*/
#security{
    background-color: var(--primary-color);
    padding: 50px 0;
}
#security img{
    width:100px;
    margin-right: 10px;
}
#security p{
    display: inline;
    font-size: 20px;
    color:var(--white-color);
}
 /* security section end */

/* **************************** main end here *********************  */

/* **************************** footer start here *********************  */
.footer{
    background: url(../images/home-page-footer-bg_02.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding:20px 0;
    color:var(--white-color);
}
.footer-content-area{
    padding:80px 0;
}
.footer h5{
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.footer ul{
    margin-left: -20px;
}
.footer ul li{
    list-style-type: none;
    margin-bottom: 10px;
}
.footer ul li a{
    font-size: 20px;
    text-decoration: none;
    color:#666666;
}
.footer ul li a:hover{
    color:var(--primary-color);
    transition: 1s;
}
.footer-logo{
    display: flex;
    align-items: flex-end;
}
.footer img{
    width:80px;
    margin: 0;
}
.footer .logo-text-1{
    font-size: 45px;
    color:var(--primary-color);
    font-weight: 700;
}
.footer .logo-p{
    font-size: 25px;
}
.footer .icon-list li{
    float:left;
    padding:10px;
    margin: 15px 10px 15px 0;
}
.footer .icon-list a{
    color:var(--white-color);
    font-size: 20px;
}
.footer-search{
    clear: both;
    display: flex;
    align-items: center;
    border-radius: 5px;
}
.footer-search button{
    border:none;
    padding: 13px 30px;
    background: var(--primary-color);
}
#email-input{
    border:none;
    font-size: 20px;
    width: 85%;
    background: transparent;
    border:1px solid #666666;
    border-right: none;
    padding:11px 10px;
}
.fa-paper-plane{
    color:var(--white-color);
    font-size: 25px;
}
.copyright-area{
    padding:50px 0;
    border-top:1px solid #333333;
    color:#666666;
}
/* **************************** footer end here *********************  */

/* **********************************************************************************
*******************************HOME PAGE DESIGN END*****************************
********************************************************************************** */

/* **********************************************************************************
*******************************REGISTER & LOGIN PAGE DESIGN START*****************************
********************************************************************************** */
.home-reg-para{
    font-size: 1.8rem;
    padding:10px 0;
    color:#666666;
}
.register-form-div,.login-form-div{
    padding:5rem 0;
}
.register-form-div h1,.login-form-div h1{
    font-size: 2rem;
    text-align: center;
    color:#000000;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom:30px;
}
#reg-form,#login-form{
    border:1px solid #e6e4e4;
    width:70%;
    margin:0 auto;
    padding:5rem;
    margin-bottom: 20px;
}
/* placeholder with red star code */
.reg-form-group,.login-form-group{
    position:relative;
}
.reg-form-group input,.login-form-group input{
    position:relative;
    z-index:9;
    background:transparent;
    border:1px solid #e6e4e4;
    padding: 5px;
    -webkit-box-shadow: 0px 0px 5px 3px rgba(230,228,228,0.38); 
box-shadow: 0px 0px 5px 3px rgba(230,228,228,0.38);
}
.reg-form-group label,.login-form-group label{
    position:absolute;
    left:5px;
    top:5px;
    z-index:1;
    color:#ccc;
}
.reg-form-group label::after,.login-form-group label::after{
    content:"*";
    color:red;
}
input[required]:valid + label{
    display: none;
}
/* placeholder with red end code */
.first-name-group, .last-name-group{
    width:50%;
    float:left;
}
.email-group{
    clear: both;
}
.reg-input,.login-input{
    margin-bottom: 20px;
    font-size: 1.5rem;
    height:80px;
}
.reg-label,.login-label{
    font-size: 1.3rem;
    padding:20px 1%;
}
#first-name{
    width:95%;
}
#last-name{
    width: 100%;
}
.form-check{
    width:50%;
    float:left;
    display: flex;
    align-items: center;
}
.form-check-label{
    font-size: 1.5rem;
    margin-left: 10px;
    color:#000000;
}
.form-check-input:checked {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}
.reg-btn,.form-login-btn{
    width:100%;
    margin: 30px 0;
    padding:15px 0;
    font-size: 1.5rem;
    background: var(--primary-color);
    border: 1px solid var(--primary-color);
    letter-spacing: 3px;
    transition: 1s;
}
.reg-btn:hover,.form-login-btn:hover{
    background: transparent;
    border:1px solid var(--primary-color);
    color:var(--primary-color);
    transition: 1s;
}
.lost-pass-link{
    text-decoration: none;
    color:var(--primary-color);
    font-size: 1.1rem;
}
/* **********************************************************************************
*******************************REGISTER & LOGIN PAGE DESIGN END*****************************
********************************************************************************** */  

/* **********************************************************************************
******************************* PRODUCTS PAGE DESIGN END*****************************
********************************************************************************** */
.products-page-para{
    font-size: 1.5rem;
    padding:10px 0;
    color:#666666;
}
/* ******** tab section start ******** */
.products-tab-content{
    margin-bottom: 30px;
}
.products-tab-content .products-tab-pane img{
    width:100%;
    border:1px solid var(--border-color);
}
.products-tab-item{
    width:30%;
    border:1px solid var(--border-color);
    margin-right: 31px;
}
.products-tab-item:last-child{
    margin-right: 0;
}
.products-tab-item .products-tab-link img{
    width:100%;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: transparent;
}
/* ******** tab section end ******** */
/* product details text area start */
.product-display-text-area h1{
    font-size:1.9rem;
    font-weight: 700;
    margin-bottom:20px;
}
.product-display-text-area ul{
    margin-left:-30px;
}
.product-display-text-area ul li{
    list-style-type: none;
    float:left;
    margin-right:5px;
    font-size:1.4rem;
}
.products-list-number{
    color:#000000;
    font-size: 1.3rem;
    margin-left:5px;
}
.products-order-para{
    color:#000000;
    font-size: 1.3rem;
    border-left:1px solid var(--border-color);
    padding-left:15px;
}
.product-display-text-area .product-details-main-para{
    font-size: 1.3rem;
    margin-top:20px;
    color:#999999;
}
.product-detail-price-span{
    
}
/* product details text area end */
/* **********************************************************************************
*******************************PRODUCTS PAGE DESIGN END*****************************
********************************************************************************** */

/* ************* RESPONSIVE DESIGN FOR MOBILE VERSION STRAT HERE *********************************** */

@media screen and (max-width:450px){
    /* *** common codes start here *** */
    /* section title for all section start */
    .section-title h3{
        font-size: 1rem;
        font-weight: 700;
    }
    /* section title for all section end */

    /* items style start */
    .section-items{
        display: flex;
        flex-wrap: wrap;
        text-align: center;
    }
    .single-item{
        width:100%;
        padding-bottom:0;
    }
    .single-item img{
        width:200px;
        height:auto;
        margin:0 auto;
    }
    .single-item p{
        margin:0 auto;
        margin-bottom:10px;
    }
    .single-item ul{
        margin-left:0px;
        width:55%;
        margin:0 auto;
        margin-bottom:10px;
    }
    .item-hover-div{
        right:-23%;
        transform: rotate(0deg);
    }
    /* items style end */

    /* tab style start */
    .tab-section .nav-tabs .nav-item .nav-link{
        font-size: 14px;
        padding:10px 2px;
    }
    /* tab style end */
    /* *** common codes ends here *** */
    /* *** Header start here *** */

    /* header top start */
    .header-top{
        min-height: 60px;
        padding:10px 0;
    }
    .header-top:before{
        display: none;
    }
    .header-top img{
        width:40px;
    }
    .t-img-1,.t-img-2,.t-img-3,.t-img-4,.t-img-5,.t-img-6{
        padding:0;
    }
    /* header top end */

    /* hotline number div start here */
    .hotline-number p{
        font-size:0.8rem;
        padding:0;
    }
    .hotline-text{
        border-right:1px solid #dddddd;
    }
    .hotline-text a{
        color: #585858;
        text-decoration: none;
    }
    .fa-mobile-alt{
        color:var(--primary-color);
        margin-right: 5px;
    }
    /* hotline number div end here */

    /* login area start */
    .login-area{
        margin-bottom: 20px;
    }
    .logo-img{
        margin-bottom:20px;
    }
    /* search area start*/
    .search-form{
        margin-bottom:20px;
    }
    #search-box{
        width:60%;
        padding:10px 5px;
        font-size: 16px;
    }
    #search-select{
        width:35%;
        padding:10px 0;
        font-size: 12px;
    }
    .search-box-icon{
        width:5%;
        padding:16px 30px;
    }
    /* search area end */
    .login-btn-div{
        text-align: right;
    }
    /* login area end */

    /* navbar area start */
    .navbar-light .navbar-nav .nav-link {
        font-size: 1rem;
        border-right:none;
        margin-bottom: 10px;
    }
    .dropdown-item{
        color:#fff;
        font-size: 1rem;
    }
    .dropdown-menu{
        background: transparent;
    }
    .dropdown-toggle{
        height:30px;
    }
    .dropdown-toggle::after {
        display: inline;
        font-size: 30px;
        vertical-align: -27px; 
    }
    /* navbar area end */

    /* slider area start */
    .slider-item{
        margin: 10px 0;
        padding:0 20px;
    }
    .slider-img{
        padding-top:0;
    }
    .slider-item img{
        height:300px;
    }
    .slider-text{
        padding-top: 2rem;
        height:auto;
    }
    .slider-item h1{
        font-size: 1.6rem;
        margin-bottom: 20px;
    }
    .slider-item p{
        font-size:1rem;
        padding-right: 20px;
    }
    .slider-item .slide-btn{
        font-size: 1rem;
        width:130px;
        margin-top: 10px;
    }
    /* slider area end */

    /* *** Header end here *** */

    /* *** main start here *** */

    /* top n best brand section strat */
    #top-n-best-brand-card{
        margin-bottom:20px;
    }
    .orange-card{
        margin-bottom: 10px;
    }
    .card-content{
        padding:3.5rem 2rem;
    }
    #top-n-best-brand-card .card-content h2{
        font-size: 1.2rem;
        margin-bottom: 15px;
        
    }
    #top-n-best-brand-card .card-content p{
        font-size: 14px;
        color:var(--white-color);
        
    }
    /* top n best brand section end */

    /* digital n electronics section start */
    .digital-n-elec-img-area{
        padding:1rem 0.5rem;
    }
    .dig-elec-para{
        font-size:1.2rem;
    }
    .makes-para{
        font-size:1.2rem;
    }
    .washing-para{
        margin:5px 0;
        font-size: 1.2rem;
    }
    .washing-spin-text{
        font-size: 1rem;
        color:#666666;
    }
    /* digital n electronics section end */

    /* fasion & accessories  section start*/
    .fashion-n-accessories-img-area{
        padding:1rem;
    }
    .fashion-n-accessories-img-area .fashion-para-one{
        font-size:1.2rem;
    }
    .fashion-n-accessories-img-area .fashion-para-two{
        font-size:1.2rem;
    }
    .fashion-n-accessories-img-area .img-area-btn{
        font-size: 1rem;
    }
    /* fashion & accessories  section end*/

    /* furnitures & home decores section start */
    .furniture-n-home-decore-img-area{
        padding:1rem;
        padding-left:30%;
    }
    .furniture-n-home-decore-img-area .available-text{
        font-size:1.2rem;
    }
    .furniture-n-home-decore-img-area .stock-limited-text{
        font-size:1.2rem;
    }
    .furniture-n-home-decore-img-area .starting{
        font-size: 1rem;
    }
    .furniture-n-home-decore-img-area .price{
        font-size: 1rem;
    }
    .furniture-n-home-decore-img-area .shop-now-btn{
        margin-top: 10px;
        font-size: 1rem;
    }
    /* furnitures & home decores section end */ 

    /* tools & equipments section start */
    .tools-n-equipments-img-area{
        padding:1rem;
    }
    .tools-n-equipments-img-area .use-update-text{
        font-size:1.2rem;
    }
    .tools-n-equipments-img-area .life-easy-text{
        font-size: 1.2rem;
    }
    .tools-n-equipments-img-area .treecutter-text{
        font-size: 1.3rem;
    }
    .tools-n-equipments-img-area .weight-text{
        font-size: 1rem;
    }
    /* tools & equipments section end */

    /* security section start*/
    #security{
        background-color: var(--primary-color);
        padding: 10px 0;
    }
    #security img{
        width:60px;
        margin-right: 0;
        margin-bottom: 10px;
    }
    #security p{
        display: inline;
        font-size: 20px;
        color:var(--white-color);
    }
    /* security section end */

    /* *** main start here ***  */

    /* ***footer start here ***  */
    .footer-content-area{
        padding:0 0;
        text-align: center;
    }
    .footer h5{
        font-size: 1.3rem;
    }
    /* *** footer end here ***  */

    /* *******************************REGISTER & LOGIN PAGE DESIGN START**************************** */
    .home-reg-para{
        font-size: 1.1rem;
    }
    .register-form-div,.login-form-div{
        padding:1rem 0;
    }
    .register-form-div h1,.login-form-div h1{
        font-size: 1.5rem;
    }
    #reg-form,#login-form{
        width:100%;
        padding:1rem 0.5rem;
    }
    .first-name-group, .last-name-group{
        width:100%;
    }
    .reg-input,.login-input{
        font-size: 1.2rem;
        height:60px;
    }
    .reg-label,.login-label{
        font-size: 1rem;
        padding:15px 1%;
    }
    #first-name{
        width:100%;
    }
    #last-name{
        width: 100%;
    }
    .form-check{
        width:100%;
    }
    .form-check-label{
        font-size: 1.2rem;
    }
    /* ****************************REGISTER PAGE DESIGN END***************************** */  
}
/* ************* RESPONSIVE DESIGN FOR MOBILE VERSION STRAT HERE *********************************** */
